<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static',filename='img/favicon.png') }}">
    <title>Data Request Form</title>
    <link href="{{ url_for('static',filename='css/styles.css') }}" rel="stylesheet" />
</head>
<body>
    <div class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Heading-->
            <h1 class="masthead-heading text-uppercase mb-0">Data Request Form</h1>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- register form -->
            <form action="/rqtinsert" method="POST">
                <div class="form-group">
                    <label for="request_delivery_date"> Delivery Date </label>
                    <input type="date" name="request_delivery_date" id="request_delivery_date" class="form-control">
                </div>
                <div class="form-group">
                  <label for="request_title"> Title </label>
                  <input type="text" class="form-control" name="request_title" id="request_title" placeholder="ex.Montly Website Visitors">
                </div>
                <div class="form-group">
                  <label for="request_purpose"> Purpose </label>
                  <input type="text" class="form-control" name="request_purpose" id="request_purpose" placeholder="ex.Analysis">
                </div>
                <div class="form-group">
                  <label for="request_team"> Team </label>
                  <select type="text" id="request_team" name="request_team" class="form-control">
                    <option selected>Choose...</option>
                    <option>Marketing</option>
                    <option>Sales</option>
                    <option>UI/UX</option>
                    <option>Insight</option>
                    <option>SCM</option>
                    <option>IT</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="request_member"> Member </label>
                  <input type="text" class="form-control" name="request_member" id="request_member" placeholder="ex.John Lee">
                </div>
                <button type="submit" class="btn btn-light">Request</button>
                <button type="button" onclick="location.href='/student'" class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <!-- Core theme JS-->
    <script src="{{ url_for('static',filename='js/scripts.js') }}"></script>
</body>
</html>
<script>
    var replaceNotInt = /[^0-9]/gi;
    $(document).ready(function(){
        $("#stdphone").on("focusout", function() {
            var x = $(this).val();
            if (x.length > 0) {
                if (x.match(replaceNotInt)) {
                   x = x.replace(replaceNotInt, "");
                }
                $(this).val(x);
            }
        }).on("keyup", function() {
            $(this).val($(this).val().replace(replaceNotInt, ""));
        });
    });
</script>